<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Queries" Icon="query_builder" Path="/Queries" Match="NavLinkMatch.Prefix" />
    <RadzenPanelMenuItem Text="Data Sources" Icon="sensors" Path="/DataSources" Match="NavLinkMatch.Prefix" />
    <RadzenPanelMenuItem Text="Help" Icon="help">
        <RadzenPanelMenuItem Text="API" Icon="api" Path="/Help/ApiDocumentation" />
    </RadzenPanelMenuItem>
</RadzenPanelMenu>
<div class="rz-p-4">
    Sidebar
</div>