@page "/Connections"
@using TheGrid.Shared.Models

<PageTitle>Connections</PageTitle>

<RadzenText TextStyle="TextStyle.DisplayH2">connections</RadzenText>

<RadzenLink Path="/Connections/Create">Create new</RadzenLink>

@if (_items != null)
{
    <RadzenDataGrid
        Data="_items"
        Count="_totalItems"
        TItem="ConnectionListItem"
        AllowSorting>
        <Columns>
            <RadzenDataGridColumn TItem="ConnectionListItem" Property="@nameof(ConnectionListItem.Name)" Title="Name" />
            <RadzenDataGridColumn TItem="ConnectionListItem" Property="@nameof(ConnectionListItem.ConnectorName)" Title="Connector">
                <Template>
                    <ConnectorDisplay Name="@context.ConnectorName" ConnectorIcon="@context.ConnectorIcon" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <div class="rz-m-12">
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </div>
}
